* {
    margin: 0;
    border: 0;
    padding: 0;
    
    font-family: Circular;
    unicode-range:U+F0000-FFFFD;
    font-weight:800;
    src:url("Airbnb_Cereal-Book-9a1c9cca9bb3d65fefa2aa487617805e.woff2") format("woff2");
    font-display: swap;
    text-align: left;
    box-sizing: border-box;
    color: #222;
}

html {
    /* to simulate the mobile phone viewport size, the width and height are set as follows (size of iPhone 12pro) */
    height: 844px;
    width: 390px;

    margin-left: auto;
    margin-right: auto;

}

body {
    height: 100%;
    line-height: 1.43;
    color: #222;
    background-color: #fff;
}

a {
    text-decoration: none;
}

/* .mobile-view {
    padding: 14px 24px;
    padding-left: 24px;
    padding-right: 24px;
    
} */

.sticky-top {
    display: flex;
    flex-direction: column;
    left: 0px;
    right: 0px;
    top: 0;
    position: sticky;
    z-index: 100;
    background-color: #fff;
    opacity: 1;
    
}

.search {
    /*the below is already in mobile-view, decide where to best keep it*/
    padding-top: 14px;
    padding-inline-start: 24px;
    padding-inline-end: 24px;
    display: grid;
    grid-template-columns: minmax(0,1fr) 40px;
    gap: 10px;

}

.search-field{
    align-items: stretch;
    border: 0.5px solid rgba(0 0 0/0.08);
    border-radius: 1000px;
    box-shadow: 0 3px 10px rgba(0 0 0/0.1);
    display: grid;
    min-height: 56px;   
}

.search-field-button {
    padding: 0;
    padding-inline-start: 4px;
    padding-inline-end: 4px;
    border: none;
    cursor: pointer;
    margin: 0;
    align-items: center;
    background: transparent;
    width: 100%;
    height: 100%;
    position: relative;
    outline: none;
    display: inline-grid;
    grid-template-columns: 42px minmax(0,1fr);
}

.search-icon {
    place-items: center;
    display: grid;
    height: 20px;
    width: 52px;
}

.search-text-entry {
    padding-left: 2px;
    display: inline-block;
}

#anywhere {
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.placeholders {
    display: flex;
    /* flex-direction: column; */
    padding-inline-end: 24px;
    font-size: 0.75rem;
    color: #717171;
    gap: 5px;
}

.filter {
    align-self: center;
    position: relative;
    display: block;
}

.filter-button {
    cursor: pointer;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #b0b0b0;
    position: relative;
    display: inline-flex;
    height: 40px;
    width: 40px;
}

.scrolling-categories {
    display: grid;
    max-height: 74px;
    position: relative;
    gap: 36px;
    padding: 0 24px;
    grid-auto-flow: column;
    justify-content: flex-start;
    box-shadow: 0 10px 10px -10px rgb(0 0 0/16%);
    overflow: auto hidden;
    padding-inline-end: var(--contentscroller_padding-inline-end,var(--contentscroller_peek,32px) );
    /* padding-inline-start: var(--contentscroller_padding-inline-start,var(--contentscroller_peek,32px) ); */
}

::-webkit-scrollbar {
    display: none;
}

.category-card {
    text-align: center;
    font-weight: 600;
    line-height: 1rem;
    font-size: 0.75rem;
    margin: 12px 0 10px;
    padding: 4px 0;
    border: unset;
    display: inline-block;
    width: max-content;
}

.category-icon-name span {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    color: #717171;

}
.category-icon {
    opacity: 0.6425339366515838;
}

.category-name {
    text-align: center;
    color: #000;
    position: relative;
    color: #717171;
}

.main-section {
    margin-top: 24px;
    margin-bottom: 32px;
    padding-right: 24px;
    padding-left: 24px;
    display: grid;
    grid-gap: 40px;
}

.listing-container {
    display: block;
    width: 342px;
    height: 425px;
}

.listing {
    display: flex;
    flex-direction: column;
}

.image-card {
    display: grid;
    position: relative;
    overflow: scroll;

    --contentscroller_controls_z-index: 1;
    --contentscroller_scrollsnapstop: always;
    --contentscroller_visible-items: 1;
    --contentscroller_gap: 0px;
    --contentscroller_overflow: visible hidden;
    --contentscroller_height: 100%;
    --contentscroller_peek: 0;
    --contentscroller_content-visibility: unset;
}

.listing-icons {
    display: flex;
    flex-flow: column;
    flex-direction: column;
    position: absolute;
    background: linear-gradient(180deg, transparent 80%, rgba(0, 0, 0, 0.25));
    padding: 12px 12px 0 12px;
    position: absolute;
    z-index: var(--contentscroller_controls_z-index,auto);
    border-radius: 10px;
    top: 0;
    height: calc(100% - 12px);
    overflow: hidden;
    /*width: 100%;*/ /* when width: 100% is enabled, it stops images from scrolling */
      
}

.favourite-top {
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, auto));
    grid-column-gap: 16px;
    flex: 1 0;
    grid-area: top;
}

.guest-favourite {
    justify-self: flex-start;
    display: block;
    line-height: 1.125rem;
    font-size: 0.875rem;
    color: #000;
}

.guest-favourite-text {
    margin-left: 3px;
    margin-top: 3px;
    background-clip: border-box;
    align-items: center;
    font-weight: 600;
    padding: 4px 10px;
    box-shadow: 0 4px 10px rgba(0 0 0/0.16);
    border: 1px solid #FFFFFF;
    border-radius: 40px;
    background: linear-gradient(to top right,#f1f1f1 0%,#ffffff 11%,#ffffff 70%,#efefef 94%);
    display: inline-flex;
    font-feature-settings: 'salt';
    max-width: 100%;
    height: fit-content;
    box-sizing: border-box;
}

.favourite {
    display: flex;
    justify-self: flex-end;
    
}
.favourite-button {
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 2px 0 0;
    margin: -2px 0 0;
    position: relative;
    display: inline-flex;
    width: 32px;
    height: 32px;
}

.icons-bottom{
    display: grid;
    align-items: flex-end;
    grid-template-columns: repeat(3, minmax(min-content, 1fr));
    grid-column-gap: 16px;
    flex: 1 0;
    grid-area: bottom;
}
.scroll-dots-filler-start {
    justify-self: flex-start;
    display: block;
}

.scroll-dots-filler-end {
    display: block;
    justify-self: flex-end;
}

.scroll-dots {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 12px;
    max-width: 55px;
}

.dot {
    margin-right: 2.5px;
    margin-left: 2.5px;
    background: #fff;
    border-radius: 50%;
    height: 6px;
    width: 6px;
    opacity: 0.6;
}

.listing-images {
    margin-bottom: 12px;
    display: grid;
    grid-template-columns: repeat(4, minmax(100%, 1fr)); /* replace 4 with the number of pictured in the scroll panel */
    border-radius: 3%;
    grid-auto-flow: column;
    justify-content: flex-start;
    position: relative;
    aspect-ratio: 20/19;
    overflow: auto hidden;
    white-space: nowrap;
}

.individual-image {
    flex: 0 0 auto;
    
}

.individual-image img{
    display: inline-block;
    position: absolute;
    /* overflow-clip-margin: content-box;
    overflow: clip; */
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.listing-info {
    display: grid;
    gap: 2px 8px;
    line-height: 1.1875rem;
}

.listing-title {
    font-weight: 600;
    font-size: 0.9375rem;
    color: #222222;
    text-overflow: ellipsis;
}

.listing-subtitle {
    color: #717171;
    font-size: 0.9375rem;
    font-weight: 400;
}

.listing-cost {
    margin-top: 6px;
    display: block;
    font-size: 0.9375rem;
    color: #222222;
}

.price {
    font-weight: 600;
}

.duration {
    font-weight: 400 !important;
}

.continue-exploring {
    display: block;
}

.continue-exploring-header{
    margin-top: 16px; /* adjusted from 56 as gap of 40 from the previous element is still applied */
    font-size: 1.125rem;
    text-align: center;
    font-weight: 600;
    line-height: 1.375rem;
}

.continue-exploring-button-container {
    margin-top: 16px;
    justify-content: center;
    width: 100%;
    display: flex;
}

.continue-exploring-button-container button {
    text-align: center;
    border: none;
    padding: 14px 24px;
    border-radius: 8px;
    font-weight: 600;
    line-height: 1.25rem;
    font-size: 1rem;
    margin: 0;
    background: #222222;
    color: #FFFFFF;
    position: relative;
    width: auto;
    display: inline-block;
}

.inspiration-container {
    display: block;
    background: #F7F7F7;
    margin-inline: auto;
    padding-inline: 24px;
    padding-block: 48px;
}

.inspiration-header {
    margin-bottom: 8px;
    font-weight: 600;
    line-height: 1.625rem;
    font-size: 1.375rem;
    margin-top: 0;
    letter-spacing: -0.01375rem;
}

.inspiration-scrolling-menu {
    position: relative;
}

.inspiration-menu-tabs {
    padding-left: 12px;
    padding-right: 12px;
    margin-right: -12px;
    margin-left: -12px;
    overflow-y: auto;
    display: flex;
    white-space: nowrap;
    overflow: auto hidden;
}

.tabs-options {
    margin-left: 0px;
    margin-right: 6px;
    margin-bottom: 6px;
    margin-top: 6px;
    padding: 10px;
    position: relative;
    border: none;
    font-weight: 600;
    line-height: 1.125rem;
    font-size: 0.875rem;
    background: transparent;
    color: #717171;
}

#underlined-tab::after {
    color: #222222; 
    /* border-bottom: 2px solid black;  */
    bottom: -6px;
    left: 10px;
    position: absolute; 
    content: '';
    height: 2px;
    width: calc(100% - 20px);
    background-color: #222222;
}

.inspiration-menu-underline {
    background-color: #DDDDDD;
    height: 1px;

}

.inspiration-more-button {
    background-color: transparent;
    border: none;
    align-items: center;
    padding: 0;
    justify-content: flex-end;
    right: -12px;
    position: absolute;
    display: flex;
    color: #222222;
    width: 36px;
    height: 50px;
    top: 1px;
    cursor: pointer;
    background-image: linear-gradient(to right,rgba(255,255,255,0),white, white);
}

.inspiration-tab-panel {
    display: block;
    padding-top: 32px;
}

.tab-panel-list {
    display: grid;
    margin: 0;
    padding: 0;
    column-gap: 8px;
    grid-template-columns: repeat(2, minmax(0,1fr));
    row-gap: 24px;
    list-style: none;

}

.tab-panel-list-item a {
    display: flex;
    line-height: 1.125rem;
    font-size: 0.875rem;
    flex-direction: column;
    text-decoration: none;
}

.list-item-title {
    font-weight: 600;
    color: #222222;
    white-space: nowrap;
}

.list-item-subtitle {
    color: #717171;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.show-more-button {
    text-align: center;
    cursor: pointer;
    border: none;
    font-weight: 600;
    margin: 0;
    padding: 0;
    align-items: center;
    line-height: 1.125rem;
    font-size: 0.875rem;
    background: transparent;
    display: flex;
    position: relative;
    color: #222222;
    gap: 4px;

}

@font-face{
    font-family:Circular;
    unicode-range:U+0000-03FF, U+0500-058F, U+0700-074F, U+0780-FAFF, U+FE00-FE6F, U+FF00-EFFFF, U+FFFFE-10FFFF;
    font-weight:normal;
    font-style:normal;
    src:url("Airbnb_Cereal-Book-9a1c9cca9bb3d65fefa2aa487617805e.woff2") format("woff2"),url("Airbnb_Cereal-Book-aa38e86e3f98554f9f7053d7b713b4db.woff") format("woff");
    font-display:swap
}

